<div class="col-md-12 my-4">
    <div class="card">
        <div class="card-header mx-0 px-0">
            <div class="col-md-12">
                Active Channels Report
            </div>
        </div>
        <div class="card-body">
            <table id="publications-report-table" class="table">
                {{ csrf.fields | raw }}
                <thead>
                    <tr>
                        <th class="text-left">ID</th>
                        <th class="text-left">Channel Name</th>
                        <th class="text-left">Country</th>
                        <th class="text-left">Type</th>
                        <th class="text-left">Date</th>
                        <th class="text-left">Time</th>
                        <th class="text-left">Time Since Update</th>
                        {% if is_admin %}
                        <th class="text-center"><span class="oi oi-reload"></span> Restart Processes</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody id="publications-list-holder">
                    {% for channel in channels %}
                        <tr>
                            <td>{{ channel.id }}</td>
                            <td>{{ channel.name_en }}</td>
                            <td>{{ countries[channel.country] ? countries[channel.country].name_en : channel.country }}</td>
                            <td>{{ types[channel.id] }}</td>
                            <td>{{ dates[channel.id]}}</td>
                            <td>{{ times[channel.id] }}</td>
                            <td>{{ times_since_update[channel.id] }}</td>
                            {% if is_admin %}
                            <td>
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group mr-2 mx-auto" role="group">
                                        <button name="restart-process-btn" type="button" class="btn btn-warning" data-action-url="{{ base_url() }}{{ path_for('publication.action.restart_rsync') }}" data-process="rsync" data-id="{{ channel.id }}">rsync</button>
                                        <button name="restart-process-btn" type="button" class="btn btn-danger" data-action-url="{{ base_url() }}{{ path_for('publication.action.restart_ffmpeg') }}" data-process="ffmpeg" data-id="{{ channel.id }}">ffmpeg</button>
                                    </div>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>