<div class="col-md-12 my-4">
    <div class="card">
        <div class="card-header mx-0 px-0">
            <div class="col-md-12">
                Active Channels Report
            </div>
        </div>
        <div class="card-body">
            <table id="publications-report-table" class="table">
                <thead>
                    <tr>
                    <th class="text-left">#</th>
                    <th class="text-left">ID</th>
                    <th class="text-left">Channel Name</th>
                    <th class="text-left">Country</th>
                    <th class="text-left">Type</th>
                    <th class="text-left">Date</th>
                    <th class="text-left">Time</th>
                    <th class="text-left">Time Since Update</th>
                    <th class="text-left">Actions</th>
                    </tr>
                </thead>
                <tbody id="publications-list-holder">
                    {% for channel in channels %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ channel.id }}</td>
                            <td>{{ channel.name_en }}</td>
                            <td>{{ channel.country }}</td>
                            <td>{{ types[channel.id] }}</td>
                            <td>{{ channel.id }}</td>
                            <td>{{ channel.id }}</td>
                            <td>{{ channel.id }}</td>
                            <td>ze Aktion buttons</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>