<li name="{% if not video %}global_template_list_video{% endif %}">
    <ul class="text-center" name="status">{% if video.status %}{{ video.status }}{% endif %}</ul>
    <ul class="text-center" name="keywords">{% if video.keywords %}{{ video.keywords }}{% endif %}</ul>
    <ul class="text-center" name="status_badge">
        {% if video is defined and video.status_class %}
            {% set badge = {
                "text": video.status,
                "name": video.id
            } %}
            {% set component = "components/badges/#{video.status_class}.twig" %}
            {% include component %}
        {% endif %}
    </ul>
    <ul class="text-left" name="headline" data-update-title="keywords_name_en" data-toggle="tooltip" data-placement="top" title="{% if video.keywords_name_en %}{{ video.keywords_name_en }}{% endif %}">{% if video.headline %}{{ video.headline }}{% endif %}</ul>
    <ul class="text-center" name="id">{% if video.id %}{{ video.id }}{% endif %}</ul>
    <ul class="text-center" name="issue_datetime">{% if video.issue_datetime %}{{ video.issue_datetime }}{% endif %}</ul>
    <ul class="text-center" name="created">{% if video.created %}{{ video.created }}{% endif %}</ul>
    <ul class="text-center" name="publication">{% if video.publication %}{{ video.publication }}{% endif %}</ul>
    <ul class="text-center" name="duration">{% if video.duration %}{{ video.duration }}{% endif %}</ul>
    <ul class="text-center" name="file_size">{% if video.file_size %}{{ video.file_size }}{% endif %}</ul>
    <ul>
        {{ csrf.fields | raw }}
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2 mx-auto" role="group">
                <button name="play-btn" type="button" class="btn btn-primary oi oi-media-play" data-toggle="modal" data-target="#modal_video" data-src="{% if video.src %}{{ video.src }}{% endif %}"></button>
                <button name="download-btn" type="button" class="btn btn-success oi oi-data-transfer-download" data-download="{% if video.download %}{{ video.download }}{% endif %}"></button>
                <button name="delete-btn" type="button" class="btn btn-danger oi oi-trash" data-toggle="modal" data-target="#listing-modal-delete-article" data-action-url="{{ base_url() }}{{ path_for('article.action.delete_article') }}"></button>
            </div>
        </div>
    </ul>
    <ul class="text-center" name="text">{% if movie.text %}{{ movie.text }}{% endif %}</ul>
</li>