<div class="col-md-12 mb-4 d-flex">
    <div class="card flex-fill">
        <div class="card-header">
            Search
        </div>
        <div class="card-body flex-fill">
            <form id="listing-get-list" action="{{ base_url() }}{{ path_for('video.action.get_list') }}" method="post" novalidate>
                {{ csrf.fields | raw }}
                <div class="row form-group">
                    <div class="col-xl-4 mb-4">
                        <label for="publication">Publications</label>
                        <input type="hidden" name="publication" id="listing-publication-input">
                        <select name="publication_select[]" id="listing-publication-select" multiple="multiple" class="form-control">
                            {% for publication in publications %}
                                <option
                                    value="{{ publication.id }}"
                                    {% if form.publication == publication.id %} selected {% endif %}
                                >{{ publication.name_en }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <label for="status">Status</label>
                        <input type="hidden" name="status" id="listing-status-input">
                        <select name="status_select[]" id="listing-status-select" multiple="multiple" class="form-control">
                            {% for status in statuses %}
                                <option
                                    value="{{ status.name }}"
                                    {% if form.status == status.name %} selected {% endif %}
                                >{{ status.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-4 mb-4">
                    <label for="date_range">Date Range</label>
                        <input
                            type="text"
                            name="date_range"
                            id="listing-data-range"
                            class="form-control"
                            value="{{ form.date_range ? form.date_range : '' }}"
                            autocomplete="off"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" class="d-none">
                        <button type="button" class="btn btn-primary btn-block mb-3" data-loading="0">Get Videos List</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>