<div class="col-xl-12 mb-4 d-flex">
    <div class="card flex-fill">
        <div class="card-header">
            Search
        </div>
        <div class="card-body flex-fill">
            <form id="video-search-text" action="{{ base_url() }}{{ path_for('video.action.search') }}" method="post" novalidate>
                {{ csrf.fields | raw }}
                <div class="row form-group">
                    <div class="col-sm-6">
                        <input
                            type="text"
                            name="start_date"
                            class="form-control{{ flash.errors_start_date ? ' is-invalid' : ''}}"
                            placeholder="From Date"
                            value="{{ form.start_date ? form.start_date : '' }}"
                            autocomplete="off"
                        >
                        {% if flash.errors_start_date %}
                            <div class="invalid-feedback">{{ flash.errors_start_date | first }}</div>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        <input
                            type="text"
                            name="end_date"
                            class="form-control{{ flash.errors_end_date ? ' is-invalid' : ''}}"
                            placeholder="To Date"
                            value="{{ form.end_date ? form.end_date : '' }}"
                            autocomplete="off"
                        >
                        {% if flash.errors_end_date %}
                            <div class="invalid-feedback">{{ flash.errors_end_date | first }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12">
                        <select id="countries" name="countries[]" class="form-control" multiple="multiple" size="10">
                            <option value="" selected="selected">Choose Country</option>
                            {% for country in countries %}
                                <option
                                    value="{{ country.iso }}"
                                    {% if form.country == country.iso %} selected {% endif %}>
                                    {{ country.name_en }}
                                </option>
                            {% endfor %}
                        </select>
                        {% if flash.errors_countries %}
                            <div class="invalid-feedback">{{ flash.errors_countries }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12">
                        <select id="publication" name="publications[]" class="form-control{{ flash.errors_publication ? ' is-invalid' : ''}}" multiple="multiple" size="10">
                            <option value="" disabled="disabled" selected="selected">Choose Publication</option>
                            {% for publication in publications %}
                                <option
                                    value="{{ publication.id }}"
                                    {% if form.publication == publication.id %} selected {% endif %}
                                >
                                    {{ publication.name_en }}
                                </option>
                            {% endfor %}
                        </select>
                        {% if flash.errors_publication %}
                            <div class="invalid-feedback">{{ flash.errors_publication }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12">
                        <input
                            type="text"
                            name="text"
                            class="form-control{{ flash.errors_text ? ' is-invalid' : ''}}"
                            placeholder="Search term"
                            value="{{ form.text ? form.text : '' }}"
                            autocomplete="off"
                        >
                        {% if flash.errors_text %}
                            <div class="invalid-feedback">{{ flash.errors_text }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" class="d-none" value="dddd">
                        <button type="button" class="btn btn-primary btn-block mb-3" data-loading="0">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
