<div class="col-md-12 mb-4 d-flex">
    <div class="card flex-fill">
        <div class="card-header">
            Search
        </div>
        <div class="card-body flex-fill">
            <form id="test-get-playlist" action="{{ base_url() }}{{ path_for('test.action.get_playlist') }}" method="post" novalidate>
                <input id="publication_lang" type="hidden" value=""/>
                {{ csrf.fields | raw }}
                <div class="row form-group">
                    <div class="col-xl-3 mb-4">
                        <label for="country">Publication</label>
                        <select id="publication" name="publication" class="form-control{{ flash.errors_publication ? ' is-invalid' : ''}}">
                            <option value="" disabled selected>Choose publication...</option>
                            {% for publication in publications %}
                                <option
                                        value="{{ publication.id }}"
                                        {% if form.publication == publication.id %} selected {% endif %}
                                        lang="{{ publication.language }}">
                                    {{ publication.name_en }}
                                </option>
                                {% if form.publication == publication.id %}
                                <script>
									document.getElementById('publication_lang').value='{{ publication.language }}';
                                </script>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-3 mb-4">
                        <label for="start_date">From Date</label>
                        <input
                                type="text"
                                name="start_date"
                                id="listing-start-date"
                                class="form-control"
                                value="{{ form.start_date ? form.start_date : '' }}"
                                autocomplete="off"
                        >
                    </div>
                    <div class="col-xl-3 mb-4">
                        <label for="start_date">To Date</label>
                        <input
                                type="text"
                                name="end_date"
                                id="listing-end-date"
                                class="form-control"
                                value="{{ form.end_date ? form.end_date : '' }}"
                                autocomplete="off"
                                width="100px"
                        >
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-3 mb-2">
                        <button type="button" id="search_button" class="btn btn-primary btn-block mb-3" data-loading="0">Get Videos</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

