<div
    name="{% if not content %}global_template_alert_search_text{% endif %}"
    class="list-group-item list-group-item-action list-group-item-info"
    data-get-text-url={{ base_url() }}{{ path_for('video.action.get_text_preview') }}
    data-pub-name="{% if search_text.pub_name %}{{ search_text.pub_name }}{% endif %}"
    data-pub-id="{% if search_text.pub_id %}{{ search_text.pub_id }}{% endif %}"
    data-date="{% if search_text.date %}{{ search_text.date }}{% endif %}"
    data-start-segment="{% if search_text.start_segment %}{{ search_text.start_segment }}{% endif %}"
    data-end-segment="{% if search_text.end_segment %}{{ search_text.end_segment }}{% endif %}"
    data-publication="{% if search_text.publication %}{{ search_text.publication }}{% endif %}"
    data-start-date="{% if search_text.start_date %}{{ search_text.start_date }}{% endif %}"
    data-end-date="{% if search_text.end_date %}{{ search_text.end_date }}{% endif %}"
    data-text="{% if search_text.text %}{{ search_text.text }}{% endif %}"
>
    <div class="d-fill row">
        <div class="col-sm-1 d-fill m-auto">
            <img name="poster" src="" class="rounded img-fluid">
            <span name="no_poster" class="oi oi-audio-spectrum"></span>
        </div>
        <div class="col-sm-8 d-fill m-auto row">
            <div class="text-left">&nbsp;&nbsp;[</div>
            <div class="text-left" name="pub_name">{% if search_text.pub_name %} {{ search_text.pub_name }} {% endif %}</div>
            <div class="text-left">]&nbsp;&nbsp;</div>
            <div class="text-left" name="date">{% if search_text.date %} {{ search_text.date }} {% endif %}</div>
            <div class="text-left">&nbsp;&nbsp;/&nbsp;&nbsp;</div>
            <strong><div class="text-left" name="text">{% if search_text.text %} {{ search_text.text }} {% endif %}</div></strong>
            <div class="text-left">&nbsp;&nbsp;/&nbsp;&nbsp;</div>
            <div class="text-left" name="start_segment"> {% if search_text.start_segment %} {{ search_text.start_segment }}{% endif %} </div>
            <div class="text-left">&nbsp;&nbsp;-&nbsp;&nbsp;</div>
            <div class="text-left" name="end_segment"> {% if search_text.end_segment %}{{ search_text.end_segment }}{% endif %} </div>
        </div>
        <div class="col-md-3" style="text-align:end">
            <button type="mr-3 button" class="show-preview btn btn-primary cursor-pointer">Show Segment Text</button>
            <button type="mr-3 button" class="hide-preview btn btn-danger cursor-pointer display-none">Hide Segment Text</button>
            <a href="{{ base_url() }}{{ path_for('video.view.index_segment_text', { 'start_segment': 'start_segment', 'end_segment': 'end_segment', 'publication':'publication' }) }}"type="mr-3 button" class="go-to btn btn-success cursor-pointer">Go To Segment</a>
        </div>
    </div>
    <div class="d-fill row">
        <div class="col-sm-1 d-fill m-auto">
        </div>
        <div class="text-preview-holder col-sm-8 d-fill m-auto row">
            <div class="text-preview font-weight-bold"></div>
        </div>
        <div class="col-md-3" style="text-align:end">
        </div>
    </div>
</div>
